```
Iterations
Strings
List
Tuple
```

In [5]:
# for loop
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
for i in 'ranganayakulu':
    print(ord(i))

114
97
110
103
97
110
97
121
97
107
117
108
117

In [12]:
n=10
for i in range(5):
    print(n, "*",i,"=",n*i)

10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40

In [19]:
num = int(input("Enter the number"))
p=0
while num>0:
    s = num%10
    p = p*10+s
    num=int(num/10)
print(p)

Enter the number125
521

In [21]:
n = int(input("Enter the number"))
prod =0
while n>0:
    rem = n%10
    prod = prod *10 + rem
    n = n//10
    
print(prod)

Enter the number1422
2241

In [22]:
string = "Ranga"

In [23]:
string[0]

'R'

In [24]:
string[1:5]

'anga'

In [25]:
string[::2]

'Rna'

In [26]:
string[::-1]

'agnaR'

In [28]:
string[1:2]

'a'

In [29]:
string[0]

'R'

In [34]:
string[0]="g"
# String are the immutable

TypeError: 'str' object does not support item assignment

In [32]:
string

'Ranga'

In [35]:
string

'Ranga'

In [37]:
del string[0]

TypeError: 'str' object doesn't support item deletion

In [38]:
string.capitalize()

'Ranga'

In [39]:
para = "hiii this is ranganayakulu"
para.capitalize()

'Hiii this is ranganayakulu'

In [48]:
for i in para.split():
    print(i.capitalize())

Hiii
This
Is
Ranganayakulu

In [49]:
string.casefold()

'ranga'

In [50]:
low = "SIVARANGA"
low.casefold()

'sivaranga'

In [53]:
p=string.center(10)

In [54]:
len(p)

10

In [55]:
string.count('a')

2

In [56]:
string.encode()

b'Ranga'

In [57]:
type(string.encode())

bytes

In [58]:
string.endswith('g')

False

In [59]:
sai = "Sivaranga"
sai.endswith('a')

True

In [60]:
string.expandtabs()

'Ranga'

In [61]:
"r\tk\tppa\t".expandtabs()

'r       k       ppa     '

In [62]:
"r\tk\tppa\t".expandtabs(1)

'r k ppa '

In [63]:
"r\tk\tppa\t".expandtabs(3)

'r  k  ppa   '

In [64]:
"r\nk\nppa\t".expandtabs()

'r\nk\nppa     '

In [65]:
"r\tk\tppa\t".expandtabs(1)

'r k ppa '

In [66]:
string.find('a')

1

In [67]:
string

'Ranga'

In [68]:
string.find('a',2,6)

4

In [69]:
string.format()

'Ranga'

In [83]:
"Hii this {hi}, is {lo} what abou".format(hi=4,lo=5)

'Hii this 4, is 5 what abou'

In [74]:
"My name is {fname}, I'm {age}".format(fname = "John", age = 36)

"My name is John, I'm 36"

In [85]:
string.index('a')

1

In [86]:
string.index('R')

0

In [87]:
string.find("r")

-1

In [88]:
string.index('r')

ValueError: substring not found

In [89]:
string.isalnum()

True

In [90]:
string

'Ranga'

In [91]:
"@dkjn122".isalnum()

False

In [92]:
"hbbjh12".isalnum()

True

In [93]:
string.isalpha()

True

In [94]:
string.isascii()

True

In [95]:
string.isdecimal()

False

In [96]:
string.isdigit()

False

In [97]:
string.isidentifier()

True

In [98]:
string.islower()

False

In [99]:
string.isnumeric()

False

In [100]:
"0.5".isdigit()

False

In [101]:
"0.5".isdecimal()

False

In [102]:
"0.5".isnumeric()

False

In [103]:
"0.5".isalnum()

False

In [104]:
"1/2".isdigit()

False

In [105]:
"1/2".isnumeric()

False

In [106]:
"1/2".isdecimal()

False

In [107]:
string.join("5")

'5'

In [108]:
"hii".join("this")

'thiihhiiihiis'

In [109]:
"1".join("one")

'o1n1e'

In [110]:
"hii".join(string)

'Rhiiahiinhiighiia'

In [113]:
string.ljust(10)

'Ranga     '

In [114]:
string.rjust(10)

'     Ranga'

In [116]:
string.lstrip()

'Ranga'

In [118]:
"di         ".rstrip()

'di'

In [120]:
string.replace("a","l")

'Rlngl'

In [121]:
string.splitlines()

['Ranga']

In [123]:
"hii this is \n ki".splitlines()

['hii this is ', ' ki']

In [126]:
string.zfill(10)

'00000Ranga'

In [132]:
string.translate("ko")

'Ranga'

In [133]:
lisu =[1,2,4,8,90]
lisu

[1, 2, 4, 8, 90]

In [1]:
lis=[1,2,3,4]

In [2]:
lis[0]

1

In [3]:
lis[1:2]

[2]

In [4]:
lis[-1]

4

In [5]:
lis.append(8)

In [6]:
lis

[1, 2, 3, 4, 8]

In [7]:
lis.clear()

In [8]:
lis

[]

In [9]:
lis1=lis.copy()

In [10]:
lis1

[]

In [11]:
lis

[]

In [12]:
lis.extend([1,2,3])

In [13]:
lis

[1, 2, 3]

In [14]:
lis.extend([4,5,6])

In [15]:
lis

[1, 2, 3, 4, 5, 6]

In [16]:
lis.index(2)

1

In [17]:
lis.pop()

6

In [18]:
lis

[1, 2, 3, 4, 5]

In [19]:
lis.pop()

5

In [20]:
lis

[1, 2, 3, 4]

In [22]:
lis.pop(0)

1

In [23]:
lis

[2, 3, 4]

In [24]:
lis.remove(2)

In [25]:
lis

[3, 4]

In [26]:
lis.reverse()

In [27]:
lis

[4, 3]

In [28]:
lis.sort()

In [29]:
lis

[3, 4]

In [30]:
for i in ['Sai','Anil',"MAdevi","Ranga"]:
    if i.endswith('i'):
        print(i)

Sai
MAdevi

In [31]:
list1=[]
for i in ['Sai','Anil',"MAdevi","Ranga"]:
    p = i.upper()
    list1.append(p)
print(list1)

['SAI', 'ANIL', 'MADEVI', 'RANGA']

In [32]:
p = (1,2,3)

In [33]:
p[0]

1

In [34]:
p[1:2]

(2,)

In [35]:
p[0]=12

TypeError: 'tuple' object does not support item assignment

In [36]:
del p[0]

TypeError: 'tuple' object doesn't support item deletion

In [37]:
p.count('2')

0

In [38]:
p.index(2)

1

In [40]:
list1 =['Ranga','Anil','Madevi']
passwords =["siva",'anil','madevi']
name = input("Enter your name")
if name in list1:
    pas=input("Enter the password")
    if pas in passwords:
        print("Successfully login ")
    else:
        print("password is invalid check onece")
else:
    print("User name is not available first register")

Enter your nameRanga
Enter the passwordsaia
password is invalid check onece

In [42]:
s = "Ranganayakulu"
for i in s:
    print(i,"-->",s.count(i))

R --> 1
a --> 4
n --> 2
g --> 1
a --> 4
n --> 2
a --> 4
y --> 1
a --> 4
k --> 1
u --> 2
l --> 1
u --> 2

```
capitalize
casefold
upper
lower
isupper
islower
count
center
endswith
startswith
"a".rpartition()
```

In [46]:
"advb".rpartition("d")

('a', 'd', 'vb')

In [47]:
se = "RAnganayakulu"
se.partition('a')

('RAng', 'a', 'nayakulu')

In [48]:
se.rpartition('a')

('RAnganay', 'a', 'kulu')

In [49]:
se.swapcase()

'raNGANAYAKULU'