In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
shirt =  pd.read_csv("shirtsize.csv")
shirt

    Height  Weight Size
0      158      58    M
1      158      59    M
2      158      63    M
3      160      59    M
4      160      60    M
5      163      60    M
6      163      61    M
7      160      64    L
8      163      64    L
9      165      61    L
10     165      61    L
11     165      62    L
12     168      62    L
13     168      63    L
14     168      66    L
15     170      63    L
16     170      64    L
17     170      68    L

In [4]:
shirt.isnull().sum()

Height    0
Weight    0
Size      0
dtype: int64

In [5]:
shirt.shape

(18, 3)

In [7]:
shirt.describe()

          Height     Weight
count   18.00000  18.000000
mean   164.00000  62.111111
std      4.32503   2.564208
min    158.00000  58.000000
25%    160.00000  60.250000
50%    164.00000  62.000000
75%    168.00000  63.750000
max    170.00000  68.000000

In [8]:
shirt.columns

Index(['Height', 'Weight', 'Size'], dtype='object')

In [11]:
x = shirt[['Height','Weight']]
x

    Height  Weight
0      158      58
1      158      59
2      158      63
3      160      59
4      160      60
5      163      60
6      163      61
7      160      64
8      163      64
9      165      61
10     165      61
11     165      62
12     168      62
13     168      63
14     168      66
15     170      63
16     170      64
17     170      68

In [12]:
y = shirt['Size']
y

0     M
1     M
2     M
3     M
4     M
5     M
6     M
7     L
8     L
9     L
10    L
11    L
12    L
13    L
14    L
15    L
16    L
17    L
Name: Size, dtype: object

In [14]:
y_dum = pd.get_dummies(shirt['Size'],drop_first=True)
y_dum

    M
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  0
15  0
16  0
17  0

In [15]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [16]:
knn.fit(x,y_dum)

C:\Users\RANGA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [18]:
pr = knn.predict(x)
pr

array([1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)

In [19]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_dum,pr)

0.8333333333333334

In [20]:
confusion_matrix(y_dum,pr)

array([[10,  1],
       [ 2,  5]], dtype=int64)

In [21]:
knn.score(x,y_dum)

0.8333333333333334