In [2]:
# Reading the data from csv file 
import pandas as pd
edmdata = pd.read_csv("EDMDATA.csv")
edmdata.head()

    I  Ton    P   V      MRR     TWR
0  10  100  0.3  40   4.9550  0.1011
1  10  100  0.5  50   8.8301  0.0849
2  10  100  0.7  60   8.7326  0.2138
3  10  200  0.3  50  11.0117  0.2752
4  10  200  0.5  60   9.8526  0.1894

In [12]:
# For training the model here seperating the input data from csv file
input_data = edmdata[['I','Ton','P','V','MRR']]
input_data.head()

    I  Ton    P   V      MRR
0  10  100  0.3  40   4.9550
1  10  100  0.5  50   8.8301
2  10  100  0.7  60   8.7326
3  10  200  0.3  50  11.0117
4  10  200  0.5  60   9.8526

In [13]:
# Seperating the output label or output values
output_data = edmdata['TWR']
output_data.head()

0    0.1011
1    0.0849
2    0.2138
3    0.2752
4    0.1894
Name: TWR, dtype: float64

In [6]:
#import model 
from sklearn.ensemble import RandomForestRegressor
rand = RandomForestRegressor()

In [7]:
# Train the model by using the fit method
rand.fit(input_data,output_data)

C:\Users\RANGA\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [14]:
# Test the model using predict method
y_pred = rand.predict(input_data)
y_pred

array([0.13314, 0.1619 , 0.20119, 0.20356, 0.19349, 0.11486, 0.14528,
       0.16391, 0.11847, 0.13157, 0.23527, 0.16087, 0.16059, 0.24352,
       0.24068, 0.53868, 0.413  , 0.2939 , 0.54853, 0.3184 , 0.3432 ,
       0.51576, 0.75282, 0.68442, 0.80378, 0.7637 , 0.81265])

In [10]:
# find the accuracy
from sklearn.metrics import r2_score
r2_score(output_data,y_pred)

0.9415301319193481

Here we got 94% accuracy that means it learnt 94% perfectly

In [11]:
rand.predict([[10,100,0.3,40,4.9550]])

array([0.13314])

```
In above i took our input_label first line values 
original value : 0.1011
Predicted value : 0.13314

So if you observe the actual value and predicted value it has some diference because of 6% of losss in accuracy
```