In [1]:
# importing the required packages
import pandas as pd

In [4]:
# Read the csv data
emdata = pd.read_csv("EDMDATA.csv")
emdata.head()

    I  Ton    P   V      MRR     TWR
0  10  100  0.3  40   4.9550  0.1011
1  10  100  0.5  50   8.8301  0.0849
2  10  100  0.7  60   8.7326  0.2138
3  10  200  0.3  50  11.0117  0.2752
4  10  200  0.5  60   9.8526  0.1894

In [5]:
from sklearn.tree import DecisionTreeRegressor
dec_tree = DecisionTreeRegressor()

In [7]:
input_labels = emdata.drop("TWR",axis = 1)
input_labels.head()

    I  Ton    P   V      MRR
0  10  100  0.3  40   4.9550
1  10  100  0.5  50   8.8301
2  10  100  0.7  60   8.7326
3  10  200  0.3  50  11.0117
4  10  200  0.5  60   9.8526

In [8]:
output_label = emdata['TWR']
output_label.head()

0    0.1011
1    0.0849
2    0.2138
3    0.2752
4    0.1894
Name: TWR, dtype: float64

In [9]:
dec_tree.fit(input_labels,output_label)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [10]:
y_pred_values = dec_tree.predict(input_labels)
y_pred_values

array([0.1011, 0.0849, 0.2138, 0.2752, 0.1894, 0.1125, 0.0986, 0.1706,
       0.11  , 0.1301, 0.2831, 0.1553, 0.135 , 0.24  , 0.2086, 0.5294,
       0.424 , 0.3958, 0.5232, 0.44  , 0.312 , 0.6285, 0.9142, 0.5829,
       0.7854, 0.7544, 0.8928])

In [12]:
from sklearn.metrics import r2_score
r2_score(output_label,y_pred_values)

1.0

In [13]:
dec_tree.predict([[10,100,0.3,40,4.9550]])

array([0.1011])

```
In above i took our input_label first line values 
original value : 0.1011
Predicted value : 0.1011

So if you observe the actual value and predicted value,we got same values so machine learnt 100% 
```